<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/css/art.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<header class="overflow-hidden bg-orange mx-auto">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-6 text-lg-start">
                <!-- 1. 로고 누르면 홈페이지로 이동 -->
                <a
                        th:href="@{/}"
                        class="navbar-brand display-1 text-white fs-1 ms-5"
                >
                    Emiary
                    <img src="https://res.cloudinary.com/dn6holbea/image/upload/v1681215012/MainLogo_djlbex.png" class="img-fluid" alt="logo" style="width : 40px">
                </a>
            </div>

            <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="text-white"></div>
                    </div>
                </nav>
            </div>

            <div class="row"></div>

            <div class="row pt-3">
                <div class="col-11">
                    <ul class="nav nav-tabs ">


                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/}">캘린더</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/mypage/home}">마이페이지</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/graph/home}">감정분석</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/gallery/home}">AI갤러리</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#instagram-box">인스타그램갤러리</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>


<section class="mx-auto p-3 instagram-box">


    <div class="container-fluid">
        <div class="px-lg-5">

            <div class="row main">

            </div>
        </div>
        </div>
</section>


    <script th:src="@{/js/instaGallery.js}"></script>
</body>
</html>