<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/mypage.css}" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
    />
</head>
<body>

<header class="overflow-hidden bg-orange mx-auto">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-6 text-lg-start">
                <!-- 1. 로고 누르면 홈페이지로 이동 -->
                <a
                        th:href="@{/}"
                        class="navbar-brand display-1 text-white fs-1"
                >
                    Emiary
                    <img src="https://res.cloudinary.com/dn6holbea/image/upload/v1681215012/MainLogo_djlbex.png" class="img-fluid" alt="logo" style="width : 40px">
                </a>
            </div>

            <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="text-white">마이페이지</div>
                    </div>
                </nav>
            </div>


            <div class="row"></div>

            <div class="row pt-5">
                <div class="col-8">
                    <ul class="nav nav-tabs ">

                        <!-- 3. 캘린더 페이지로 이동 -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/}">캘린더</a>
                        </li>

                        <!-- 4. 감정 분석 페이지로 이동 -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/graph/home}">감정분석</a>
                        </li>

                        <!-- 5. 친구 페이지로 이동 -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
                        </li>

                        <!-- 음악 추천 해주기 -->
                        <!--                  <li class="nav-item">-->
                        <!--                    <a class="nav-link" href="#">음악 추천</a>-->
                        <!--                  </li>-->

                        <!-- 6. 마이페이지로 이동 -->
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{mypage/home}">마이페이지</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>

</header>

<section id="quitsection" class="p-3 mx-auto">
    <div class="container d-flex flex-column justify-content-center">
        <div id="quit-title" class="row mt-5 text-white text-center">
                <p class="text-center">회원을 탈퇴하시겠습니까?</p>
            <p class="text-center">(모든 일기장 기록이 사라집니다)</p>
        </div>

        <div id="quit-btn" class="row mt-5 mb-3 d-flex justify-content-evenly">
            <!--th:href=""써서 할 것-->
            <a id="quitYes" class="btn quit w-25">네</a>
            <a id="quitNo" class="btn quit w-25">뒤로가기</a>
        </div>
    </div>
</section>

<script th:src="@{/js/mypage.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
></script>
</body>
</html>
