<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/mypage.css}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header class="overflow-hidden bg-orange">
      <div class="container">
        <div class="row pt-5">
          <div class="col-sm-6 text-lg-start">
            <!-- 1. 로고 누르면 홈페이지로 이동 -->
            <a
              th:href="@{/}"
              class="navbar-brand display-1 text-white fs-1"
            >
              Emiary
              <img th:src="@{/image/logo.png}" class="img-fluid" alt="logo" />
            </a>
          </div>

          <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
            <nav class="navbar">
              <div class="container-fluid">
                <div class="text-white">마이페이지</div>
              </div>
            </nav>
          </div>


          <div class="row"></div>

            <div class="row pt-5">
              <div class="col-8">
                <ul class="nav nav-tabs ">

                  <!-- 3. 캘린더 페이지로 이동 -->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">캘린더</a>
                  </li>

                  <!-- 4. 감정 분석 페이지로 이동 -->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/graph/home}">감정분석</a>
                  </li>

                  <!-- 5. 친구 페이지로 이동 -->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
                  </li>

                  <!-- 음악 추천 해주기 -->
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">음악 추천</a>-->
<!--                  </li>-->

                  <!-- 6. 마이페이지로 이동 -->
                  <li class="nav-item">
                    <a class="nav-link active" href="#profileBox">마이페이지</a>
                  </li>
                </ul>
              </div>
            </div>

         </div>
        </div>
      </div>

    </header>

    <section class="m-5 mx-auto">
      <div class="container">
        <div id="profileBox" class="row d-flex justify-content-center">
          <a id="profileImageA" class="d-flex justify-content-center mt-3" onclick="document.getElementById('inputImage').click()">
            <img id="profileImage"  th:src="@{/mypage/download}"/>
          </a>
          <form id="profileImageForm" th:action="@{/mypage/changeImg}" method="post" style="display: none" enctype="multipart/form-data">
            <input type="file" name="upload" id="inputImage" />
          </form>



<!--          <form action="" id="profileImage" hidden>-->
<!--            <label for="inputImage">Select an image:</label>-->
<!--            <input type="file" id="inputImage" style="display: none" />-->
<!--          </form>-->



<!--     버튼에 사진 넣자     <button onclick="document.getElementById('inputImage').click()">-->
<!--            <img src="image/logo.png" />-->
<!--          </button>-->
        </div>
          <!-- logout-->
        <div class="row w-25 mx-auto" id="logout-box">
          <a th:href="@{/member/logout}" class="btn mt-2 display-5 text-center" id="logout"> 로그아웃 </a>
        </div>
        <!-- 읽기 전용 글 갯수  -->
        <div id="information" class="mt-4 d-flex justify-content-evenly">
          <div class="readinformation text-center p-2">글 갯수</div>

          <div class="readinformation text-center p-2">평균 감정</div>

          <div class="readinformation text-center p-2">친구 수</div>
        </div>
        <div
          id="information-detail"
          class="d-flex justify-content-evenly mx-auto m-3"
        >
          <!-- 글 갯수 -->
          <div class="inputinformation d-flex align-items-center justify-content-center text-center p-1" th:text="${countDiaries}">12</div>
          <!-- 평균 감정 -->
          <div class="inputinformation d-flex align-items-center justify-content-center text-center p-1" id="averageEmotion" th:emotionscore="${calcEmotion}"></div>
          <!-- 친구 수 -->
          <div class="inputinformation d-flex align-items-center justify-content-center text-center p-1">추후 수정</div>
        </div>

        <!-- 회원정보 수정 -->
        <div class="row mt-4">
          <a th:href="@{/mypage/modify}" class="bottom-btn btn w-50 mx-auto p-2 text-white fw-bold">
            회원정보 수정
          </a>
        </div>
        <!-- 회원 탈퇴 -->
        <div class="row mt-3">
          <a th:href="@{/mypage/quit}" class="bottom-btn btn w-50 mx-auto p-2 text-white fw-bold">
            회원 탈퇴
          </a>
        </div>
        <!-- 프로필 공개 여부 -->
        <div class="row mt-3">
          <div
            id="profile_access"
            class="bottom-btn text-center w-50 mx-auto p-2 text-white fw-bold"
          >
            프로필 공개
          </div>
          <div class="text-center mt-3">
            <input type="checkbox" id="check"/>
            <label for="check" class="checkbutton"></label>
          </div>
        </div>
      </div>
    </section>

    <script th:src="@{/js/mypage.js}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
