<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script th:src="@{/js/jquery-3.6.0.js}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/message.css}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


<header class="overflow-hidden bg-orange mx-auto">
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-6 text-lg-start">
        <!-- 1. 로고 누르면 홈페이지로 이동 -->
        <a
                th:href="@{/}"
                class="navbar-brand display-1 text-white fs-1 ms-5"
        >
          Emiary
          <img src="https://res.cloudinary.com/dn6holbea/image/upload/v1681215012/MainLogo_djlbex.png" class="img-fluid" alt="logo" style="width : 40px">
        </a>
      </div>

      <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="text-white"></div>
          </div>
        </nav>
      </div>


      <div class="row pt-3">
        <div class="col-12">
          <ul class="nav nav-tabs ">


            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/}">캘린더</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " th:href="@{/mypage/home}">마이페이지</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" th:href="@{/graph/home}">감정분석</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/gallery/home}">AI갤러리</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/gallery/insta}">인스타그램갤러리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/message/to}">쪽지</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  </div>

</header>

<main class="content" id="messageBox">
  <div class="container p-0">


    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">

          <div class="px-4 d-none d-md-block">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <input type="text" class="form-control my-3" placeholder="Search...">
              </div>
            </div>
          </div>

          <div class="friendArray">

          </div>
          <!--친구목록-->




          <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-7 col-xl-9" id="changeFriendView">

          <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1 chatRoom">
            </div>
          </div>

          <div class="position-relative">
            <div class="chat-messages p-4" id="chatMessages">

              <!--오른쪽 자기 메시지-->

                <img id="helloshiba" src="https://res.cloudinary.com/dn6holbea/image/upload/v1681294479/Shiba06_generated_mdwfko.jpg" alt="">

              <!--상대방 메시지-->




            </div>
          </div>

          <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="메시지 입력해주세요" id="messageContent">
              <button type="button" class="btn" id="sendMessageBtn">전송</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

<script th:src="@{/js/message.js}"></script>
</body>
</html>