<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.8.0.js"
  integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs="
  crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
 
    <link rel="stylesheet" th:href="@{/css/graph.css}" />

  </head>
  <body>
    <header class="overflow-hidden bg-orange mx-auto">
        <div class="container">
          <div class="row pt-5">
            <div class="col-sm-6 text-lg-start">
              <!-- 1. 로고 누르면 홈페이지로 이동 -->
              <a
                th:href="@{/}"
                class="navbar-brand display-1 text-white fs-1 ms-5"
              >
                Emiary
                <img src="https://res.cloudinary.com/dn6holbea/image/upload/v1681215012/MainLogo_djlbex.png" class="img-fluid" alt="logo" style="width : 40px">
              </a>
            </div>
  
            <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
              <nav class="navbar">
                <div class="container-fluid">
                  <div class="text-white"></div>
                </div>
              </nav>
            </div>

  
              <div class="row pt-3">
                <div class="col-11">
                  <ul class="nav nav-tabs ">

                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" th:href="@{/}">캘린더</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/mypage/home}">마이페이지</a>
                    </li>


                    <li class="nav-item">
                      <a class="nav-link active" href="#graphHref">감정분석</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/gallery/home}">AI갤러리</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/gallery/insta}">인스타그램갤러리</a>
                    </li>

                  </ul>
                </div>
              </div>
           </div>
          </div>
        </div>
  
      </header>
    <div id="full" class="mx-auto">
      <div class="d-flex justify-content-center pt-5">
        <ul id="graphHref" class="nav">
            <li class="textGreen nav-item fw-bold text-decoration-underline">
              <a class="nav-link chart_text_color" aria-current="page" href="#bar">Bar</a>
            </li>
            <li class="textGreen nav-item fw-bold text-decoration-underline">
              <a class="nav-link chart_text_color bg-green" href="#line">Line</a>
            </li>
            <li class="textGreen nav-item fw-bold text-decoration-underline">
              <a class="nav-link chart_text_color" href="#radar">Radar</a>
            </li>
          </ul>
      </div>

    <!-- about section!!! -->
    <section id="bar" class="my-5 mx-auto">
      <div class="row w-100 m-0">
        <div
          class="chartsakai-left about-text col-lg-6 order-lg-1 my-5 ps-5 d-flex flex-column justify-content-center align-items-start"
        >
          <div class="title">
            <div class="d-flex justify-content-start align-items-center">
              <div class="line"></div>
              <h3 class="text-uppercase mb-0">나는 일기를 얼마나 썼을까</h3>
            </div>
            <span id="CountingDiary" class="text-uppercase mt-3"
              ></span
            >   <span id="plantBar" class="plant-box ms-5">
          </span>
          </div>
          <p id="messageOfDiary" class="lead my-4">
          </p>
          <div class="d-flex">
            <btn id="lastYear" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-left"></i></btn>
            <btn id="nextYear" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-right"></i></btn>
          </div>

        </div>
        <div class="chart col-lg-6 order-lg-0">
            <canvas id="barChart" class="mt-5"></canvas>
        </div>
        
      </div>
    </section>

    <section id="line" class="my-5 mx-auto">
        <div class="row w-100 m-0">
          <div
            class="chartsakai about-text col-lg-6 order-lg-0 my-5 p-5 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="title">
              <div class="d-flex justify-content-start align-items-center">
                <div class="line"></div>
                <h3 class="text-uppercase mb-0">당신의 감정선</h3>
              </div>
              <span id="emotionLineTitle" class="text-uppercase mt-3"
                ></span
              ><span id="emotionLine" class="plant-box ms-5">
            </span>
            </div>
            <p id="emotionLineContent" class="lead my-4">
            </p>
            <div id="dailyBox">
              <btn id="lastMonth" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-left"></i></btn>
              <btn id="nextMonth" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-right"></i></btn>
              <btn id="monthly" class="btn mt-3 me-3">월별</btn>
            </div>
            <div id="monthBox">
              <btn id="lastYearLine" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-left"></i></btn>
              <btn id="nextYearLine" class="btn mt-3 me-3"><i class="arrow fa-solid fa-arrow-right"></i></btn>
              <btn id="daily" class="btn mt-3 me-3">일별</btn>
            </div>
          </div>
          
          <div class="chart col-lg-6 order-lg-1">
              <canvas id="lineChart" class="mt-5"></canvas>
          </div>
          
        </div>
      </section>

      <section id="radar" class="my-5 mx-auto">
        <div class="row w-100 m-0">
          <div
            class="chartsakai-left about-text col-lg-6 order-lg-1 my-5 p-5 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="title">
              <div class="d-flex justify-content-start align-items-center">
                <div class="line"></div>
                <h3 class="text-uppercase mb-3">당신이 느낀 많은 감정</h3>
              </div>
              <span id="radarTitle" class="text-uppercase"
                ></span
              ><span id="radarEmoticon" class="face-box mx-auto    ms-5">
              </span>
            </div>
            <p id="radarContent" class="lead my-4">
            </p>
            <div class="d-flex ">
              <btn id="doughnut1" class="btn mt-3 me-3">1개월</btn>
              <btn id="doughnut3" class="btn mt-3 me-3">3개월</btn>
              <btn id="doughnut6" class="btn mt-3 me-3">6개월</btn>
              <btn id="doughnut12" class="btn mt-3">1년</btn>
            </div>

          </div>
          
          <div class="chart col-lg-6 order-lg-0">
              <canvas id="DoughnutChart" class="mt-5"></canvas>
          </div>
          
        </div>
      </section>
    </div>
     
      
    <script th:src="@{/js/graph.js}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
