
*{
    margin : 0;
    padding : 0;

    font-family: 'Courier New', Courier, monospace;
    box-sizing : border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: AnimationName 15s ease infinite;
    background : linear-gradient(137deg, #fff6b7, #f77c99, #6578f2, #c2ffd8);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    -o-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.form-box{
    width : 380px;
    max-width : 450px;
    height : 450px;
    position : relative;
    margin : 6% auto;
    padding : 5px;
    border-radius: 20px;
    overflow: hidden;
    transition: height .5s;
}
.input-group{
    top : 180px;
    /* top : 60%;
    left : 50%;
    transform: translate(-50%, -50%); */
    position : absolute;
    width : 280px;
    transition : .5s;
}
.button-box{
    width : 220px;
    position : relative;
    margin : 35px auto;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #ff6124;
}

.toggle-btn{
    padding : 10px 30px;
    position: relative;
    outline:none;
    cursor : pointer;
    background: transparent;
    border : none;
}

#btn{
    position: absolute;
    top : 0;
    left : 0;
    width : 110px;
    height : 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition : .5s;
}

.social-icons{
    margin : 30px auto;
    text-align: center;
}

.social-icons img{
    width : 30px;
    margin : 0 12px;
    cursor : pointer;
}

.input-field{
    position: relative;
    margin : 20px 0;
    width : 280px;
    border-bottom: 2px solid #fff;
}

.input-field label{
    position: absolute;
    top : 50%;
    left : 5px;
    transform: translateY(-50%);
    color:#fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:focus ~ label{
    top: -5px;
}

.input-field input{
    width: 100%;
    height : 50px;
    /* max-height: 65px; */
    background: transparent;
    border : none;
    outline : none;
    font-size: 1em;
    padding : 0 35px 0 5px;
    /* color : #fff; */
    transition :max-height 0.5s;
    overflow: hidden;
}

.input-field ion-icon{

    position : absolute;
    right : 8px;
    color : #fff;
    font-size : 1.2em;
    top : 20px;
}

.input-field i{
    margin-left : 15px;
    color : #999;
}

form p{
    /* text-align : left; */
    font-size: 13px;
}

form p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color : #fff;
    margin-left : 35px;
    margin-bottom: 20px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    color : #fff;
    height : 40px;
    border-radius: 20px;
    border : 0;
    outline : 0;
    cursor : pointer;
}

#login{
    left : 50px;
}

#register{
    left : 450px;
}

.header{
    position: absolute;
    left : 3%;
    top : 5%;
}

.header img{
    width: 30px;
}

#naver{
    border-radius: 50%;
}