@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --orange: #ff7f00;
  --green-dark: #13bc7e;
  --light-grey: #f1f1f1;

}



*{
  font-family: 'Roboto', sans-serif;
}

ul li{
  list-style-type: none;
}

.display-1{
  letter-spacing: 1px;
}

header .container{
  max-width: 1200px;
}

.bg-orange{
  background-color: var(--orange) !important;
}

section{


}

#editorjs{
  width: 60%;
  border : none;
  background: rgba(5, 171, 94, 0.5);
  box-shadow: 0px 0px 10px rgba(5, 171, 94);
}

#diarybtn{
  background: var(--orange);
}

#diarybtn:hover{
  background: var(--green-dark);
  color : #fff;
}

.alert{
  display: none;
}

.swal-overlay {
  background-color: rgba(19, 188, 126, 0.5);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 5px;
  background-color: #13BC7EFF;
  font-size: 12px;
  border: 1px solid #13BC7EFF!important;
}

.swal-button:hover{
  background-color: #fff!important;
  color : #ff7f00;
}

.swal-button:active{
  color : #ff7f00;
}

i{
  font-size: 7rem;
}