<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<header class="overflow-hidden bg-orange mx-auto">
    <div class="container">
        <div class="row pt-5">
            <div id="head-shadow" class="col-sm-6 text-lg-start">
                <!-- 1. 로고 누르면 홈페이지로 이동 -->
                <a th:href="@{/}" class="navbar-brand display-1 text-white fs-1 ms-5">
                    Emiary
                    <img src="https://res.cloudinary.com/dn6holbea/image/upload/v1681215012/MainLogo_djlbex.png" class="img-fluid" alt="logo" style="width : 40px">
                </a>
            </div>

            <div class="col-sm-6 d-md-flex text-white align-items-center nav-icons justify-content-end">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- 2. 검색 페이지로 이동 -->
                        <form class="d-flex" role="search">
                            <input class="searchinput form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button type="button" class="btn fw-bold text-white  btn-header">Search</button>
                        </form>
                        <div class="mt-2" id="moreThanTwo"></div>
                    </div>
                </nav>
            </div>


            <div class="row pt-4">

                <div class="col-11">
                    <ul class="nav nav-tabs ">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#header">캘린더</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/friend/findFriend}">친구</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/mypage/home}">마이페이지</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/graph/home}">감정분석</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/gallery/home}">AI갤러리</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/gallery/insta}">인스타그램갤러리</a>
                        </li>

                    </ul>
                </div>
                <!-- 7. 오늘의 글쓰기 페이지로 이동 -->
                <div class="col-1 text-end d-flex justify-content-lg-end justify-content-center">
                    <a id="todayDiary" ></a>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="searchBox"></div>

<div class="container d-md-block d-none px-3 surround">

    <div id="header" class="row display-5 pt-2">
        <div id="monthDisplay" class="col-7"></div>
        <div class="col-5  text-end">
            <button id="backButton" class="btn bg-orange text-white btn-normal fw-bold">
                <ion-icon name="chevron-back-outline"></ion-icon>
                </button>
            <button id="nextButton" class="btn bg-orange text-white btn-normal header fw-bold">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
        </div>
    </div>

    <div id="weekdays" class="row me-1">
        <div class="col">Sunday</div>
        <div class="col">Monday</div>
        <div class="col">Tuesday</div>
        <div class="col">Wednesday</div>
        <div class="col">Thursday</div>
        <div class="col">Friday</div>
        <div class="col">Saturday</div>
    </div>

<!--  클릭 시 write로 이동 -->
    <div class="row calendar" id="calendar">


    </div>
    <div class="row mt-3">

    </div>

</div>


<!-- 모달창 부분 -->
<div class="modal modalwindow" id="writeEventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column justify-content-center align-items-between">
                <!-- 8. 글 쓰기 페이지로 이동  -->
                <button type="button" class="btn btn-lg btn-modal" id="writeDiary">글 쓰기</button>

                <!-- 닫기 버튼-->
                <button type="button" class="close btn-close write-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>

        </div>
    </div>
</div>

<!-- 모달창 부분 -->
<div class="modal modalwindow" id="delReadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column justify-content-center align-items-between">
                <!-- 8. 글 쓰기 페이지로 이동  -->
                <button type="button" class="btn btn-lg btn-modal" id="readDiary">글 보기</button>

                <!-- 9. 글 삭제 페이지로 이동  -->
                <button type="button" class="btn btn-lg btn-modal" id="deleteDiary">글 삭제</button>

                <!-- 닫기 버튼-->
                <button type="button" class="close btn-close delRead-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modalBackDrop"></div>

<button id="colorExplanation" class="btn btn-primary d-none d-lg-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">친구 목록</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-4 lead text-white fw-bold" id="offcanvasScrollingLabel">친구 목록</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container w-25">
    </div>
</div>
<script th:src="@{/js/homepage.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
