<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emiary.dao.DiaryDAO">

	<!-- 일기저장 -->
	<insert id="write" parameterType="Diaries">
		insert into  diaries (
		diary_id
		, email
		, content
		, emotionscore
		, keyword
		, created_at
		)
		values (
		diaries_seq.nextval
		, #{email}
		, #{content}
		, #{emotionscore}
		, {keyword}
		, #{created_at}
		)
	</insert>

	<select id="readDiary" parameterType="Map" resultType="Diaries">
		select diary_id, content, to_char(created_at, 'FMyyyy-mm-dd') as created_at
		from diaries
		where email = #{email}
		  and created_at = #{created_at}
	</select>

	<select id="checkDiary" parameterType="String" resultType="Diaries">
		select to_char(created_at, 'FMyyyymmdd') as created_at, emotionscore
		from diaries
		where email = #{username}
	</select>

	<select id="modalCheck" parameterType="Map" resultType="int">
		select count(*)
		from diaries
		where created_at = #{created_at}
		and email = #{email}
	</select>

	<delete id="deleteDiary" parameterType="Map">
		delete diaries
		where email = #{email}
		and created_at = #{created_at}
	</delete>

</mapper>

