<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emiary.dao.GraphDAO">

	<select id="countDiaryForGraph" parameterType="String" resultType="Graph">
		select to_char(created_at, 'FMyyyy-mm') as yearAndMonth, count(to_char(created_at, 'yymm')) as countPerMonth
		from diaries
		where email = #{username}
		group by to_char(created_at, 'FMyyyy-mm')
		order by yearAndMonth
	</select>

	<select id="lineFunction" parameterType="String" resultType="Graph">
		select TO_CHAR(diaries.created_at, 'yyyy-mm-dd') AS YEARANDMONTHANDDAY, emotionscore
		from diaries
		where email = #{username}
		and extract(month from diaries.created_at) = #{presentMonth}
		order by created_at
	</select>

</mapper>

