<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emiary.dao.MyPageDAO">

	<select id="countDiaries" parameterType="String" resultType="int">
		select count(*)
		from diaries
		where email = #{username}
	</select>

	<select id="calcEmotion" parameterType="String" resultType="Double">
		select sum(emotionscore) / count(emotionscore)
		from diaries
		where emotionscore != 10
		and email = #{username}
	</select>

	<select id="countFriends" parameterType="String" resultType="int">
		select count(*)
		from friendship
		where like_status = 'MATCHED' and user_email = #{username}
	</select>


	<select id="checkProfile" parameterType="String" resultType="char">
		select profile_visibility
		from member
		where email = #{username}
	</select>

	<update id="allowpf" parameterType="Map">
		update member
		set profile_visibility = #{isAllowed}
		where email = #{username}
	</update>

	<update id="changeImg" parameterType="Member">
		update Member
		set originalfile = #{originalfile}, savedfile = #{savedfile}
		where email = #{email}
	</update>

	<select id="getImage" parameterType="Member" resultType="String">
		select originalfile
		from member
		where email = #{email}
	</select>

	<select id="selectMember" parameterType="String" resultType="Member">
		select email, nickname, phone, birthdate, originalfile, savedfile
		from member
		where email = #{email}
	</select>

	<update id="modify" parameterType="Member">
		update member
		set
			memberpw = #{memberpw}
		  , nickname = #{nickname}
		  , phone = #{phone}
		where
			email = #{email}
	</update>

	<delete id="deletChildMember" parameterType="Member">
		DELETE FROM diaries WHERE email = #{email}
	</delete>

	<delete id="deleteMember" parameterType="Member">
		DELETE FROM member WHERE email = #{email}
	</delete>

	<update id="inputURL" parameterType="map">
		update member
		set imgurl = #{imageURL}
		where email = #{username}
	</update>

	<select id="getImgURL" parameterType="String" resultType="String">
		select imgurl
		from member
		where email = #{username}
	</select>
</mapper>

